/*importerar dem 2 typsnitt som används*/
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Metal+Mania&display=swap');

/*konfiguerar hur body och html ska se ut*/
body, html {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family:'Hammersmith One', sans-serif;
    height: 100%;
    background: #363636;
    color: white;
    text-align: center;
    
}

/*konfiguerar header och footer under samma då jag vill att dem ska se likadan ut*/
header,footer {
    font-family: 'Metal Mania', cursive;
    color: goldenrod;
    font-size: 25px;
    background: black;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 45px;
    align-items: center;
    
}

/*ställer in storlek på bild*/
#joel {
    width: 375px;
    
}

/*ser till att h2 inte har marginaler upp eller ner*/
h2, h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: goldenrod;
}

a{
    color: white;
}

/*Här använder jag flex till listorna för att få rätt avstånd imellan dem i vertikalt(column) läge.*/
#workXP-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5em;
    align-items: stretch;
    padding-left: 0;
        
}

/*Fortsättning på ovan nämnda kommentar*/
ul li {
    padding-top: 20px;
    text-align: center;
    list-style-type: none;

}

/*Gör att texterna i beskrivningen och listorna ska se bättre ut med hjälp av flex och padding*/
p {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;

}

