@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Metal+Mania&display=swap');
body, html {
    font-family:'Hammersmith One', sans-serif;
    height: 100%;
    background: #363636;
    color: white;
    text-align: center;
}

header {
    font-family: 'Metal Mania', cursive;
    font-size: larger;
    background: black;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 30px;
    align-items: center;
}

#joel {
    height: 400px;
}

p {
    padding-top: 0;
}

